VITE_API_URL=http://localhost:NNNN
VITE_TRANSACTION_PAGINATION_SET_SIZE=5

#MSAL Library Configuration
VITE_MSAL_REDIRECT_URL=http://localhost:NNNN
VITE_MSAL_CLIENT_ID={YOUR_CLIENT_ID}
VITE_MSAL_AUTHORITY=https://login.microsoftonline.com/{YOUR_VALUE}

# MSFT Application Insights Key
VITE_APPINSIGHTS_INSTRUMENTATIONKEY={YOUR_KEY}
VITE_APPLICATIONINSIGHTS_CONNECTION_STRING={YOUR_CONN_STRING}