.App {
  text-align: center;
}

.navbarStyle {
  padding: .5rem 1rem !important
}

.iconStyle {
  margin-right: 7px;
}

#homePageLogo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.alertFooter {
  align-self: flex-end;
  padding: 5px;
  width: 60vw;
  height: 70vh;
  margin: 15vh auto;
}